/* Frontend CSS */
.shipkia-track-btn {
    margin-top: 10px;
}

.shipkia-tracking-info {
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
}
